<template>
  <div>
    <weight-tracker />
  </div>
</template>

<script>
import weightTracker from '~/components/weight-tracker'

export default {
  components: {
    weightTracker
  },

  mounted () {
    // this.$router.push('/')
  }
}
</script>