<template>
  <div class="container">
    <h4>What's on your mind?</h4>
    <b-form @submit.prevent="addNewForumNote">
      <b-form-group id="name" label="Name" label-for="nameInput">
        <b-form-input
          id="nameInput"
          v-model="name"
          placeholder="Enter name or leave it blank (Anonymous)"
        />
      </b-form-group>

      <b-form-group id="title" label="Title" label-for="titleInput">
        <b-form-input
          id="titleInput"
          v-model="title"
          placeholder="Enter title"
        />
      </b-form-group>

      <b-form-group id="text" label="Text" label-for="textInput">
        <b-form-textarea
          id="textarea"
          v-model="text"
          placeholder="Enter something..."
          rows="3"
          max-rows="6"
        />
      </b-form-group>

      <div class="submitButton"> 
        <b-button :disabled="!text" :variant="text ? 'success' : 'danger'" type="submit">Post</b-button>
      </div>
    </b-form>

    <div class="notes">
      <h4>Forum notes</h4>
      <note-card 
        v-for="(note, index) in forumNotes" 
        :key="index"
        :id="note._id"
        :name="note.name"
        :title="note.title" 
        :text="note.text" 
        :date="note.date"
        :like-counter="note.like"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import _ from 'lodash'

import noteCard from '~/components/noteCard'

export default {
  components: {
    noteCard
  },

  data () {
    return {
      forumNotes: [],
      name: '',
      text: '',
      title: ''
    }
  },

  mounted () {
    this.getForumNotes()
  },

  methods: {
    async getForumNotes () {
      try {
        const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
        let result = await axios.get(`${host}/api/forum`)

        if (result.data.error) {
          throw new Error(result.data.error)
        }

        this.forumNotes = _.reverse(result.data)
      } catch (e) {
        console.log(e)
      }
    },

    async addNewForumNote () {
      try {
        const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
        let result = await axios.post(`${host}/api/forum/new`, {
          userId: this.$auth.user._id,
          name: this.name,
          title: this.title,
          text: this.text
        })

        if (result.data.error) {
          throw new Error(result.data.error)
        }

        this.getForumNotes()
        this.$forceUpdate()
        this.clearForm()
      } catch (e) {
        console.log(e)
      }
    },

    clearForm () {
      this.name = ''
      this.title = ''
      this.text = ''
    }
  }
}
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 3rem;
}

.card {
  margin-top: 1rem;
}

.submitButton {
  text-align: right;
}

.notes {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
</style>