<template>
  <div class="container">
    <hr>
    <dailyMeal />
    <hr>
    <div class="water">
      <dailyWater />
    </div>
    <hr>
    <dailySport />
  </div>
</template>

<script>
import dailyMeal from '~/components/dailyMeal'
import dailyWater from '~/components/dailyWater'
import dailySport from '~/components/dailySport'

export default {
  components: {
    dailyMeal,
    dailyWater,
    dailySport
  },
  // auth: false
  methods: {
    
  }
}
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.water {
  display: flex;
  margin-top: 2rem;
}
</style>
