<template>
  <div class="container">
    <kcalTracker />
  </div>
</template>

<script>

import axios from 'axios'
import kcalTracker from '~/components/kcalTracker.vue'

export default {
  components: {
      kcalTracker
  },

  // auth: false,
}
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
</style>