<template>
  <div class="login">
    <h2 class="text-center">Welcome back!</h2>
    <b-form @submit.prevent="login">
      <b-form-group id="email" label="Email address:" label-for="emailInput">
        <b-form-input
          id="emailInput"
          v-model="email"
          type="email"
          required
          placeholder="Enter email"
        />
      </b-form-group>

      <b-form-group id="password" label="Password:" label-for="passwordInput">
        <b-form-input
          id="passwordInput"
          v-model="password"
          type="password"
          required
          placeholder="Enter password"
        />
      </b-form-group>

      <div v-if="errorMessage" class="text-center errorMessage mb-2">{{ errorMessage }}</div>

      <div class="loginButton">
        <b-button type="submit" variant="primary">Login</b-button>
      </div>
    </b-form>
    <div class="text-center" style="margin-top: 20px">
      <p>
        Don't have an account? <nuxt-link to="/register">Register</nuxt-link>
      </p>
    </div>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  data() {
    return {
      email: '',
      password: '',
      errorMessage: '',
    }
  },

  methods: {
    async login() {
      const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
      try {
        let result = await axios.post(`${host}/api/auth/login`, {
          email: this.email
        })

        if (result.data.error) {
          throw new Error(result.data.error)
        }
        if (!this.checkPassword(this.password, result.data.password)) {
          throw new Error('Incorrect password')
        }

        await this.$auth.loginWith('local', {
          data: {
            email: this.email
          }
        })

        this.$router.push('/')
      } catch (e) {
        this.errorMessage = e.message
      }
    },

    checkPassword (password, hash) {
      const bcrypt = require('bcrypt-nodejs')
      return bcrypt.compareSync(password, hash)
    }
  }
}
</script>

<style scoped>
.login {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
}
.loginButton {
  text-align: center;
}
.errorMessage {
  color: red;
  font-style: italic;
}
</style>