<template>
  <div class="profile">
    <div class="container">
      <h4>Welcome to your profile {{username}}</h4>
      <div class="personal_information">
        <b-form @submit.stop.prevent @submit="Submit_data">
          <b-form-group id="input-group-1" label="Name: " label-for="input-1">
            <b-form-input id="input-1" v-model="name" type="text" required></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-1" label="Email: " label-for="input-1">
            <b-form-input id="input-1" v-model="email" type="email" required></b-form-input>
          </b-form-group>
          <b-form-group label="Sex:">
            <b-form-radio-group id="radio-group-1" v-model="sex" name="radio-group">
              <b-form-radio value="F">Female</b-form-radio>
              <b-form-radio value="M">Male</b-form-radio>
            </b-form-radio-group>
          </b-form-group>
          <b-form-group label="Weight">
            <b-form-spinbutton id="sb-weight" v-model="weight" min="3.5" max="251" step="0.1"></b-form-spinbutton>
          </b-form-group>

          <b-form-group label="Height">
            <b-form-spinbutton id="sb-height" v-model="height" min="50" max="251"></b-form-spinbutton>
          </b-form-group>

          <div class="submit_button">
            <b-button type="submit" variant="success" class="submit_button">Submit</b-button>
          </div>

          <div v-if="errorMessage" class="text-center errorMessage mb-2">{{ errorMessage }}</div>
          <div v-if="submitMessage" class="text-center submitMessage mb-2">{{ submitMessage }}</div>
        </b-form>
      </div>
    </div>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  data() {
    return {
      name: "",
      username:  "",
      email:  "",
      sex:  "",
      height:  0,
      weight:  0,
      errorMessage: "",
      submitMessage: ""
    }
  },

async mounted() {

  const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
  let results = await axios.get(`${host}/api/user/${this.$auth.user._id}`)
  this.name = results.data[0].name
  this.username = results.data[0].username
  this.email = results.data[0].email
  this.sex = results.data[0].sex  
  this.height = results.data[0].height
  this.weight = results.data[0].weight
},


  methods: {

   async Submit_data(){
        try {
        let user = {
          name:this.name,
          email:this.email,
          sex:this.sex,
          weight:this.weight,
          height:this.height
        }
        const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
        let result = await axios.post(`${host}/api/profile`, {
          id:this.$auth.user._id,
          user
        })

        if (result.data.error) {
          throw new Error(result.data.error)
        } 

        let results = await axios.get(`${host}/api/user/${this.$auth.user._id}`)
        
        if(results.data.error) {
          throw new Error(results.data.error)
        }

        let weight_result = await axios.post(`${host}/api/statistics/addWeight`,{
          userId: this.$auth.user._id,
          weight: this.weight
        })

        if(weight_result.data.error) {
          throw new Error(weight_result.error)
        }

        this.errorMessage = ''
        this.submitMessage = ''
        this.submitMessage = "Successfully submitted!"
        this.$router.push('/profile')

      } catch (e) {
        this.errorMessage = e.message
        console.log(e)
      }
    }
  }
}
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 3rem;
}

.submit_button {
  text-align: right;
}

.errorMessage {
  color: red;
  font-style: italic;
}

.submitMessage {
  color: rgb(38, 192, 38);
  font-style: italic;
}
</style>