<template>
  <div class="register">
    <h2 class="text-center">Register here!</h2>
    <b-form @submit.prevent="register">
      <b-form-group id="name" label="Name:" label-for="nameInput">
        <b-form-input
          id="nameInput"
          v-model="name"
          required
          placeholder="Enter name"
        />
      </b-form-group>

      <b-form-group id="username" label="Username:" label-for="usernameInput">
        <b-form-input
          id="usernameInput"
          v-model="username"
          required
          placeholder="Enter username"
        />
      </b-form-group>

      <b-form-group id="email" label="Email address:" label-for="email">
        <b-form-input
          id="emailInput"
          v-model="email"
          type="email"
          required
          placeholder="Enter email"
        />
      </b-form-group>

      <b-form-group id="password" label="Password:" label-for="passwordInput">
        <b-form-input
          id="passwordInput"
          v-model="password"
          type="password"
          required
          placeholder="Enter password"
        />
      </b-form-group>

      <br>
      <b-form-group id="personalInf" label="Personal information (optional)">
        <b-form-group label="Sex:">
          <b-form-radio-group id="sex" v-model="sex" name="sex">
            <b-form-radio value="F">Female</b-form-radio>
            <b-form-radio value="M">Male</b-form-radio>
          </b-form-radio-group>
        </b-form-group>

        <b-row>
          <b-col md="6">
            <b-form-group label="Height:">
              <b-form-input
                id="height"
                v-model="height"
                placeholder="Enter your height"
                type="number"
              />
            </b-form-group>
          </b-col>
          <b-col md="6">
            <b-form-group label="Weight:">
              <b-form-input
                id="weight"
                v-model="weight"
                placeholder="Enter your weight"
                type="number"
              />
            </b-form-group>
          </b-col>
        </b-row>
      </b-form-group>

      <div v-if="errorMessage" class="text-center errorMessage mb-2">{{ errorMessage }}</div>

      <div class="registerButton">
        <b-button type="submit" variant="primary">Register</b-button>
      </div>
    </b-form>
    <div class="text-center" style="margin-top: 20px">
      Already got an account? <nuxt-link to="/login">Login</nuxt-link>
    </div>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  auth: false,
  data() {
    return {
      name: '',
      username: '',
      email: '',
      password: '',
      height: '',
      weight: '',
      sex: '',
      errorMessage: ''
    }
  },

  methods: {
    async register() {
      const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
      try {
        let hashedPassword = await this.hashPassword(this.password)
        
        let result = await this.$axios.post(`${host}/api/auth/register`, {
          name: this.name,
          username: this.username,
          email: this.email,
          password: hashedPassword,
          sex: this.sex,
          weight: this.weight,
          height: this.height
        })

        if (result.data.error) {
          throw new Error(result.data.error)
        }

        await this.$auth.loginWith('local', {
          data: {
            email: this.email
          }
        })

        this.$router.push('/')
      } catch (e) {
        this.errorMessage = e.message
      }
    },

    hashPassword (password) {
      const bcrypt = require('bcrypt-nodejs')
      const salt = bcrypt.genSaltSync(10)
      const hash = bcrypt.hashSync(password, salt)
      return hash
    }
  }
}
</script>

<style scoped>
.register {
  width: 50%;
  position: absolute;
  left: 25%;
  top: 15%;
  margin-bottom: 10%;
}
.registerButton {
  text-align: center;
}
.errorMessage {
  color: red;
  font-style: italic;
}
</style>