<template>
  <div id="sport" class="container">
    <dailyActivities />
  </div>
</template>

<script>

import dailyActivities from '~/components/dailyActivities.vue'

export default {
	name: 'sport',
	components: {
		dailyActivities
	}
}

</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  margin-top: 3rem;
	margin-bottom: 3rem;
}
</style>