<template>
  <div>
    <!-- <b-button @click="buttonClicked">Test</b-button>
    <b-row>
      <b-col cols="12">
        <b-table striped hover :items="tests" :fields="fields">
        </b-table>
      </b-col>
    </b-row> -->
    <!--div>
      <dailyWater />
    </div>
    <br>
    <div>
      <dailyMeal />
    </div-->
    <dailySport />
  </div>

</template>

<script>

import axios from 'axios'
import dailyMeal from '~/components/dailyMeal.vue'
import dailyWater from '~/components/dailyWater.vue'
import dailySport from '~/components/dailySport.vue'


export default {
  components: {
    //dailyMeal,
    //dailyWater,
    dailySport
  },
  // auth: false,
  name: 'Test',
  data () {
    return {
      fields: ['_id', 'test', 'test2'],
      tests: []
    }
  },
  methods: {
    // buttonClicked () {
    //   axios.get(`http://localhost:3000/api/test`)
    //   .then(response => {
    //     this.tests = response.data
    //   })
    //   .catch(e => {
    //     console.log(e)
    //   })
    // }
  }
}
</script>

<style>

</style>