<template>
  <div class="addDailyWeight">
    <h4>Add your daily weight</h4>
    <b-form-input v-model="newWeight" type="number" />
    <div class="submitButton">
      <b-button :disabled="newWeight <= 0" :variant="newWeight > 0 ? 'success' : 'danger'" @click="addWeight">Save</b-button>
    </div>
    <div v-if="errorMessage" class="text-center errorMessage mb-2">{{ errorMessage }}</div>
    <div v-if="submitMessage" class="text-center submitMessage mb-2">{{ submitMessage }}</div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      newWeight: 0,
      errorMessage: '',
      submitMessage: ''
    }
  },

  methods: {
    async addWeight() {
      this.submitMessage = ''
      this.errorMessage = ''
      const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
      try {
        let result = await axios.post(`${host}/api/statistics/addWeight`, {
          userId: this.$auth.user._id,
          weight: this.newWeight
        })

        if (result.data.error) {
          throw new Error(result.data.error)
        }
        this.submitMessage = 'Success!'
        window.location.reload(true)
      } catch (e) {
        this.errorMessage = e.message
      }
    }
  }
}
</script>

<style scoped>
.submitButton {
  margin-top: 0.5rem;
  text-align: right;
}

.errorMessage {
  color: red;
  font-style: italic;
}

.submitMessage {
  color: rgb(38, 192, 38);
  font-style: italic;
}
</style>