<template>
	<div>
		<FullCalendar 
			:plugins="calendarPlugins"
			:header="{
				left: 'title',
				center: 'dayGridMonth, timeGridWeek, timeGridDay, listWeek',
				right: 'prev today next'
			}"
			:buttonText="{
				today: 'Today',
				month: 'Month',
				week: 'Week',
				day: 'Day',
				list: 'Notes'
			}"
			:eventLimit="5"
			:selectable='true'
			:events="events"
		/>
	</div>
</template>

<script>

require('@fullcalendar/core/main.min.css')
require('@fullcalendar/daygrid/main.min.css')
require('@fullcalendar/timegrid/main.min.css')

import axios from 'axios'
import Vue from 'vue'
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import listPlugin from '@fullcalendar/list'

export default {
	components: { FullCalendar },
	data() {
		return {
			calendarPlugins: [
				dayGridPlugin,
				timeGridPlugin,
				interactionPlugin,
				listPlugin,
			],
			events: [],
			foods: [],
			sports: []
		} 
	},

	mounted() {
		this.refreshUserData()
	},

	methods: {
		async refreshUserData() {
			const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
			this.events = []
			this.getFoodData(host)
			this.getSportData(host)
			this.getWaterData(host)
		},

		async getSportData (host) {
			//get all sport obj from db
			await axios.get(`${host}/api/sport`)
			.then(response => {
				this.sports = response.data
			})
			.catch(e => {
				console.log(e)
			})

			await axios.get(`${host}/api/sport/byuser`, { params: { userId: this.$auth.user._id } })
			.then(response => {
				for (let i = 0; i < response.data.length; i++) {
					//completed sport record have sport id
					if (response.data[i].completedSportId) {
						//find the sport by id
						let findableSport = this.sports.find(e => e._id == response.data[i].completedSportId)
						let burnedKcal = findableSport.kcalPerHour * response.data[i].movementDuration

						//add event
						this.events.push({ 
							title: `${findableSport.name} ${response.data[i].movementDuration} hours (${burnedKcal} burned kcals)`,
							date: response.data[i].day
						})
					}
				}
			})
			.catch(e => {
				console.log(e)
			})
		},

		async getFoodData (host) {
			//get all food obj from db
			await axios.get(`${host}/api/food`)
			.then(response => {
				this.foods = response.data
			})
			.catch(e => {
				console.log(e)
			})

			//add food events to the calendar
			await axios.get(`${host}/api/food/byuser`, { params: { userId: this.$auth.user._id } })
			.then(response => {
				for (let i = 0; i < response.data.length; i++) {
					//we heve foodid in consumed food record
					if (response.data[i].consumedFoodId) {
						//find the food by id
						let findableFood = this.foods.find(e => e._id == response.data[i].consumedFoodId)
						let kcal = findableFood.kcal * (response.data[i].consumedGram / 100)

						//add new event
						this.events.push({ 
							title: `${findableFood.name} ${response.data[i].consumedGram} gram (${kcal} kcal)`,
							date: response.data[i].day
						})
					}
				}
			})
			.catch(e => {
				console.log(e)
			})
		},

		async getWaterData (host) {
			await axios.get(`${host}/api/food/water/byuser`, { params: { userId: this.$auth.user._id }})
			.then(response => {
				for (let i = 0; i < response.data.length; i++) {
					this.events.push({ 
						title: `${response.data[i].amount} deciliter water`,
						date: response.data[i].day
					})
				}
			})
			.catch(e => {
				console.log(e)
			})
		}
	}
}
</script>

<style>

</style>