<template>
  <div class="sportContainer">
    <div class="sport-list-input">
      <h4 class="text-center">Sport</h4>
      <b-form @submit.prevent="completeSport">
        <b-form-group id="completed" label="Completed sport:" label-for="completedSportInput">
          <b-form-input
            list="sport-list"
            id="completedSport"
            v-model="completed"
            required
            placeholder="Enter a name"
          />
          <datalist id="sport-list">
            <option v-for="sport in sports" :key="sport.name">{{ sport.name }}</option>
          </datalist>
        </b-form-group>

        <b-form-group id="movementDuration" label="Hours:" label-for="movementDurationInput">
          <b-form-input
            id="movementDurationInHours"
            v-model="movementDuration"
            required
            type="number"
            placeholder="Enter hour"
          />
        </b-form-group>

        <div v-if="completedErrorMessage" class="text-center errorMessage mb-2">{{ completedErrorMessage }}</div>
        <div v-if="completedSubmitMessage" class="text-center submitMessage mb-2">{{ completedSubmitMessage }}</div>

        <div class="submitButton">
          <b-button 
            :disabled="(!completed || !movementDuration)" 
            :variant="(completed && movementDuration) ? 'success' : 'danger'" 
            type="submit"
          >
            Did it!
          </b-button>
        </div>
      </b-form>
    </div>

    <div class="new-sport">
      <h4 class="text-center">Register a new sport to our database</h4>
      <b-form @submit.prevent="registerSport">
        <b-form-group id="name" label="Name of the sport:" label-for="nameInput">
          <b-form-input
            id="nameInput"
            v-model="name"
            type="text"
            required
            placeholder="Enter a name"
          />
        </b-form-group>

        <b-form-group id="kcal" label="Calories burned in one hour:" label-for="kcalInput">
          <b-form-input
            id="kcalInput"
            v-model="kcal"
            type="number"
            required
            placeholder="Enter a kcal"
          />
        </b-form-group>

        <div v-if="errorMessage" class="text-center errorMessage mb-2">{{ errorMessage }}</div>
        <div v-if="submitMessage" class="text-center submitMessage mb-2">{{ submitMessage }}</div>

        <div class="submitButton">
          <b-button 
            :disabled="(!name || !kcal)" 
            :variant="(name && kcal) ? 'success' : 'danger'" 
            type="submit"
          >
            Save
          </b-button>
        </div>
      </b-form>
    </div>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  data() {
    return {
      name: '',
      kcal: '',
      errorMessage: '',
      submitMessage: '',
      completed: '',
      movementDuration: '',
      completedErrorMessage: '',
      completedSubmitMessage: '',
      sports: [],
      completedSportId: ''
    }
  },

  async mounted () {
    this.refreshSportData()
  },

  methods: {
    async refreshSportData () {
      const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
      await axios.get(`${host}/api/sport`)
      .then(response => {
          this.sports = response.data
      // console.log(this.sports)
      })
      .catch(e => {
          console.log(e)
      })
    },

    async registerSport () {
        try {
          const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
          this.errorMessage = ''

          let result = await axios.post(`${host}/api/sport/register`, {
              name: this.name,
              kcalPerHour: this.kcal
          })

          if (result.data.error) {
              throw new Error(result.data.error)
          }

          this.name = ''
          this.kcal = ''

        this.submitMessage = 'Successfully submitted'
        // this.$router.push('/kcal-tracker')

        this.refreshSportData()
      } catch (e) {
          this.errorMessage = e.message
      }
    },

    async completeSport () {
      //clear error messages
      this.completedSubmitMessage = ''
      this.completedErrorMessage = ''

      try {
        this.completedSportId = ''

        //find the food object for the id
        for (let i = 0; i < this.sports.length; ++i) {
          if (this.completed == this.sports[i].name) {
              this.completedSportId = this.sports[i]._id
          }
        }

        let currentDate = new Date()
        const actualUser = this.$auth.user

        //the input name not found in the food table
        if (this.completedSportId == '') {
          throw new Error('Sport not found!')
        }

        const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
        let result = await axios.post(`${host}/api/sport/complete`, {
          userId: actualUser._id,
          completedSportId: this.completedSportId,
          //day: currentDate,
          movementDuration: this.movementDuration
        })

        //error in the post request
        if (result.data.error) {
          throw new Error(result.data.error)
        }

        //clear the input fields and response a successfull
        this.completed = ''
        this.movementDuration = ''
        this.completedSubmitMessage = 'Done!'
            
        this.$router.push('/')
      } catch (e) {
        // console.log(e.message)
        this.completedErrorMessage = e.message
      }
    }
  }
}
</script>

<style scoped>
.new-sport {
  width: 50%;
  margin: 1rem;
}

.sport-list-input {
  width: 50%;
  margin: 1rem;
}

.submitButton {
  text-align: center;
}
.errorMessage {
  color: red;
  font-style: italic;
}

.submitMessage {
  color: rgb(38, 192, 38);
  font-style: italic;
}

.sportContainer {
  display: flex;
  margin-top: 3rem;
}

</style>