<template>
  <div class="dailyWater">
    <h4 class="text-center">Daily water</h4>
    <b-button variant="primary" @click="addWater">Add water (100 ml)</b-button>
    <b-button :disabled="!water" :variant="water ? 'success' : 'danger'" @click="drink">Drink!</b-button>
    <p class="hint">Hint: Click the raindrop for remove water (100 ml).</p>
    <div v-for="n in water" :key="n" class="water-drops">
      <img @click="remWater" src="@/assets/water-drop.png" />
    </div>
    <div v-if="errorMessage" class="text-center errorMessage mb-2">{{ errorMessage }}</div>
    <div v-if="submitMessage" class="text-center submitMessage mb-2">{{ submitMessage }}</div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
	data () {
		return {
			water: 0,
			errorMessage: '',
			submitMessage: ''
		}
	},

	methods: {
		addWater () {
			if (this.submitMessage != '') { this.submitMessage = '' }
			this.water++
			// console.log(this.water)
		},

		remWater() {
			this.water--
		},

		async drink () {
			try {
				this.errorMessage = ''
				this.submitMessage = ''
				const actualUser = this.$auth.user

                const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
                let result = await axios.post(`${host}/api/food/water/consume`, {
                    userId: actualUser._id,
                    // day: new Date(),
                    amount: this.water
                })

				if (result.data.error) {
					throw new Error(result.data.error)
				}

				this.water = 0
				this.submitMessage = 'Consumed!'

				this.$router.push('/')
			} catch (e) {
				// console.log(e.message)
				this.errorMessage = e.message
			}
			this.water = 0
		}
	}
}
</script>

<style scoped>
img {
  float: left;
  width: 50px;
  height: 50px;
  align-content: center;
}

.submitButton {
  text-align: center;
}
.errorMessage {
  color: red;
  font-style: italic;
}

.submitMessage {
  color: rgb(38, 192, 38);
  font-style: italic;
}

.dailyWater {
	width: 100%;
	text-align: center;
	min-height: 15rem;
}

.hint {
	font-style: italic;
	font-size: small;
}

.water-drops {
	width: 50%;
	margin: auto;
}
</style>