<template>
  <div class="foodContainer">
    <div class="food-list-input">
      <h4 class="text-center">Consume food</h4>
      <b-form @submit.prevent="consumeFood">
        <b-form-group id="consumed" label="Consumed food:" label-for="consumedFoodInput">
          <b-form-input
            list="food-list"
            id="consumedFood"
            v-model="consumed"
            required
            placeholder="Enter a name"
          />
          <datalist id="food-list">
            <option v-for="food in foods" :key="food.name">{{ food.name }}</option>
          </datalist>
        </b-form-group>

        <b-form-group id="consumedGram" label="Gram:" label-for="consumedGramInput">
          <b-form-input
            id="consumedGram"
            v-model="consumedGram"
            required
            type="number"
            placeholder="Enter gram"
          />
        </b-form-group>

        <div v-if="consumedErrorMessage" class="text-center errorMessage mb-2">{{ consumedErrorMessage }}</div>
        <div v-if="consumedSubmitMessage" class="text-center submitMessage mb-2">{{ consumedSubmitMessage }}</div>

        <div class="submitButton">
          <b-button 
            :disabled="(!consumed || !consumedGram)" 
            :variant="(consumed && consumedGram) ? 'success' : 'danger'" 
            type="submit"
          >
            Eat!
          </b-button>
        </div>
      </b-form>
    </div>
    
    <div class="new-food">
      <h4 class="text-center">Register a new food to our database</h4>
      <b-form @submit.prevent="registerFood">
        <b-form-group id="name" label="Name of the food:" label-for="nameInput">
          <b-form-input
            id="nameInput"
            v-model="name"
            type="text"
            required
            placeholder="Enter a name"
          />
        </b-form-group>

        <b-form-group id="kcal" label="Calories in 100g of food:" label-for="kcalInput">
          <b-form-input
            id="kcalInput"
            v-model="kcal"
            type="number"
            required
            placeholder="Enter a kcal"
          />
        </b-form-group>

        <div v-if="errorMessage" class="text-center errorMessage mb-2">{{ errorMessage }}</div>
        <div v-if="submitMessage" class="text-center submitMessage mb-2">{{ submitMessage }}</div>

        <div class="submitButton">
          <b-button 
            :disabled="(!name || !kcal)" 
            :variant="(name && kcal) ? 'success' : 'danger'" 
            type="submit"
          >
            Save
          </b-button>
        </div>
      </b-form>
    </div>
  </div>
</template>

<script>

import axios from 'axios'

export default {
  data() {
    return {
      name: '',
      kcal: '',
      errorMessage: '',
      submitMessage: '',
      consumed: '',
      consumedGram: '',
      consumedErrorMessage: '',
      consumedSubmitMessage: '',
      foods: [],
      consumedFoodId: ''
    }
  },

  mounted () {
    const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host

    axios.get(`${host}/api/food`)
    .then(response => {
      this.foods = response.data
    })
    .catch(e => {
      console.log(e)
    })
  },

  methods: {
    async registerFood () {
      const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
      try {
        this.errorMessage = ''

        let result = await axios.post(`${host}/api/food/register`, {
          name: this.name,
          kcal: this.kcal
        })
        
       if (result.data.error) {
         throw new Error(result.data.error)
       }

       this.name = ''
       this.kcal = ''

       this.submitMessage = 'Successfully submitted'
       this.$router.push('/')
     } catch (e) {
      this.errorMessage = e.message
     }
   },

    async consumeFood () {
      //clear error messages
      this.consumedSubmitMessage = ''
      this.consumedErrorMessage = ''

      try {
        this.consumedFoodId = ''

        //find the food object for the id
        for (let i = 0; i < this.foods.length; ++i) {
          if (this.consumed == this.foods[i].name) {
            this.consumedFoodId = this.foods[i]._id
          }
        }

        const actualUser = this.$auth.user

        //the input name not found in the food table
        if (this.consumedFoodId == '') {
          throw new Error('Food not found!')
        }

        const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
        let result = await axios.post(`${host}/api/food/consume`, {
          userId: actualUser._id,
          consumedFoodId: this.consumedFoodId,
          // day: new Date(),
          consumedGram: this.consumedGram
        })

        //error in the post request
        if (result.data.error) {
          throw new Error(result.data.error)
        }

        //clear the input fields and response a successfull
        this.consumed = ''
        this.consumedGram = ''
        this.consumedSubmitMessage = 'Eated!'
        
        this.$router.push('/')
      } catch (e) {
        // console.log(e.message)
        this.consumedErrorMessage = e.message
      }
    }
  }
}
</script>

<style scoped>
.foodContainer {
  display: flex;
}

.new-food {
  width: 50%;
  margin: 1rem;
  /* position: absolute;
  top: 65%;
  left: 25%; */
}

.food-list-input {
  width: 50%;
  margin: 1rem;
  /* position: absolute;
  top: 30%;
  left: 25%; */
}

.submitButton {
  text-align: center;
}
.errorMessage {
  color: red;
  font-style: italic;
}

.submitMessage {
  color: rgb(38, 192, 38);
  font-style: italic;
}

</style>