<template>
  <div>
    <h4>Kcal tracking</h4>
    <!-- <h2>Hello {{ user.name }} {{ user._id }}</h2> -->
    <div class="datepicker">
      <label for="example-datepicker">Choose a date</label>
      <b-form-datepicker id="datepicker-lg" size="lg" local="en" v-model="value" class="mb-2" @input="getData"></b-form-datepicker>
      <!-- <p>Value: '{{ value }}'</p> -->
    </div>

    <div v-if="items.length > 0" style="display: flex;">
      <div class="data"><font-awesome-icon class="icon" icon="utensils" /> <b>Daily kcal sum:</b> {{ kcalSum }} kcal</div>
      <div class="data"><font-awesome-icon class="icon" icon="running" /> <b>Daily burned kcal:</b> {{ burnedKcalSum }} kcal</div>
      <div class="data"><font-awesome-icon class="icon" icon="glass-whiskey" /> <b>Daily water:</b> {{ water }} ml</div>
    </div>
    <div v-if="items.length > 0 || sportItems.length > 0">
      <b-table striped hover :items="items"></b-table>
    </div>
    <div v-else-if="value && loaded" class="data error">Sorry, no record found for this day.</div>
    <div v-if="items.length > 0 || sportItems.length > 0">
      <b-table striped hover :items="sportItems"></b-table>
    </div>
  </div>
  
</template>

<script>
import axios from 'axios'
import _ from 'lodash'

export default {
  data () {
    return {
      value: '',
      items: [],
      sportItems: [],
      user: this.$auth.user,
      kcalSum: 0,
      burnedKcalSum: 0,
      foods: [],
      sports: [],
      water: 0,
      loaded: false
    }
  },

  async mounted () {
    try {
      const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
      let result = await axios.get(`${host}/api/food`)
      let sportResult = await axios.get(`${host}/api/sport`)

      if (result.data.error) {
        throw new Error(result.data.error)
      } else if (sportResult.data.error) {
        throw new Error(sportResult.data.error)
      }

      this.foods = result.data
      this.sports = sportResult.data
    } catch (e) {
      console.log(e)
    }
  },

  methods: {
    getData () {
      this.getKcal()
      this.getWater()
    },

    async getKcal () {
      try {
        this.loaded = false
        this.kcalSum = 0
        this.burnedKcalSum = 0
        this.items = []
        this.sportItems = []
        const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
        let result = await axios.post(`${host}/api/kcal`, { userId: this.$auth.user._id, date: this.value })

        //burned kcal data
        let burnedResult = await axios.post(`${host}/api/kcal/burned`, { userId: this.$auth.user._id, date: this.value })

        if (result.data.error) {
          throw new Error(result.data.error)
        }
        else if (burnedResult.data.error) {
          throw new Error(burnedResult.data.error)
        }
        
        let items = result.data
        let burnedItems = burnedResult.data

        _.forEach(items, (item) => {
          let connectedFood = this.foods.find(e => e._id == item.consumedFoodId)
          this.kcalSum += (parseInt(item.consumedGram) * parseInt(connectedFood.kcal) / 100)
          item.food = _.find(this.foods, (food) => { return food._id == item.consumedFoodId} ).name
          this.items.push(_.pick(item, ['food', 'consumedGram']))
        })

        _.forEach(burnedItems, (item) => {
          let connectedSport = this.sports.find(e => e._id == item.completedSportId)
          this.burnedKcalSum += (parseInt(item.movementDuration) * parseInt(connectedSport.kcalPerHour))
          item.sport = _.find(this.sports, (sport) => { return sport._id == item.completedSportId} ).name
          this.sportItems.push(_.pick(item, ['sport', 'movementDuration']))
        })

        this.loaded = true
      } catch (e) {
        console.log(e)
      }
    },

    async getWater () {
      try {
        const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
        let result = await axios.post(`${host}/api/water`, { userId: this.$auth.user._id, date: this.value })

        if (result.data.error) {
          throw new Error(result.data.error)
        }
      
        this.water = parseInt(result.data.sum) * 100
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>

<style scoped>
.datepicker {
  /* margin-left: 10px; */
  width: 400px;
}

.table {
  border: 1px solid lightgray;
}

.data {
  padding: 1rem;
}

.errorMessage, .error {
  color: red;
  font-style: italic;
}
</style>