<template>
  <div class="noteCard">
    <b-card :title="cardTitle()">
      <b-card-text>{{ text }}</b-card-text>
      <b-card-text>{{ userName() }}, {{ dateFormat(date) }}</b-card-text>
      <div class="buttons">
        {{ likes }}
        <font-awesome-icon @click="like" :style="liked ? { color: 'red' } : { color: 'black' }" class="icon" icon="heart" />
        {{ comments.length > 0 ? comments.length : '' }}
        <font-awesome-icon v-if="comments.length" @click="showComments" class="icon" icon="comments" />
        <font-awesome-icon @click="writeComment" class="icon" icon="comment-dots" />
      </div>
    </b-card>
    <div v-if="showCom" class="commentCards">
      <comment-card 
        v-for="(comment, index) in comments" 
        :key="index"
        :name="comment.name"
        :date="comment.date"
        :text="comment.text"
      />
    </div>
    <div v-if="writeCom" class="writeComment">
      <b-form @submit.prevent="addNewComment">
        <b-form-group id="name" label="Name" label-for="nameInput">
          <b-form-input
            id="nameInput"
            v-model="commentName"
            placeholder="Enter name or leave it blank (Anonymous)"
          />
        </b-form-group>

        <b-form-group id="text" label="Text" label-for="textInput">
          <b-form-textarea
            id="textarea"
            v-model="commentText"
            placeholder="Enter something..."
            rows="2"
            max-rows="6"
          />
        </b-form-group>

        <div class="submitButton"> 
          <b-button :disabled="!commentText" :variant="commentText ? 'success' : 'danger'" type="submit">Comment</b-button>
        </div>
      </b-form>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import axios from 'axios'

import commentCard from '~/components/commentCard'

export default {
  components: {
    commentCard
  },
  props: [ 'id', 'title', 'text', 'date', 'name', 'likeCounter', 'likesOfUser' ],
  data () {
    return {
      liked: false,
      likes: this.likeCounter,
      comments: [],
      showCom: false,
      writeCom: false,
      commentName: '',
      commentText: ''
    }
  },
  mounted () {
    this.getLikesOfUser()
    this.getComments()
  },
  methods: {
    dateFormat (date) {
      return moment(date).format('LLLL')
    },
    userName () {
      return this.name ? this.name : 'Anonymous'
    },
    cardTitle () {
      return this.title ? this.title : 'Unknown title'
    },
    
    like () {
      this.liked ? this.likes-- : this.likes++
      this.liked = !this.liked
      this.saveLikes()
    },

    showComments () {
      this.writeCom = false
      this.showCom = !this.showCom
    },

    writeComment () {
      this.showCom = false
      this.writeCom = !this.writeCom
    },

    async saveLikes () {
      try {
        const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
        let result = await axios.post(`${host}/api/forum/saveLikes`, {
          userId: this.$auth.user._id,
          noteId: this.id,
          like: this.likes
        })
        
      } catch (e) {
        console.log(e)
      }
    },

    async getLikesOfUser () {
      try {
        const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
        let result = await axios.get(`${host}/api/forum/forumLikes/${this.$auth.user._id}`)

        if (result.data.error) {
					throw new Error(result.data.error)
        }
        
        _.find(result.data, (note) => { return note.noteId == this.id }) ? this.liked = true : this.liked = false
      } catch (e) {
        console.log(e)
      }
    },

    async getComments () {
      try {
        const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
        let result = await axios.get(`${host}/api/forum/comments/${this.id}`)

        if (result.data.error) {
					throw new Error(result.data.error)
        }

        this.comments = result.data
      } catch (e) {
        console.log(e)
      }
    }, 

    async addNewComment () {
      try {
        const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
        let result = await axios.post(`${host}/api/forum/addComment`, {
          userId: this.$auth.user._id,
          forumId: this.id,
          text: this.commentText,
          name: this.commentName
        })

        if (result.data.error) {
					throw new Error(result.data.error)
        }

        this.clearForm()
        this.writeCom = false
        this.getComments()
        this.showCom = true
      } catch (e) {
        console.log(e)
      }
    },

    clearForm () {
      this.commentName = ''
      this.commentText = ''
    }
  }
}
</script>

<style scoped>
.icon {
  cursor: pointer;
}

.buttons {
  text-align: right;
}

.noteCard {
  margin-top: 1rem;
}

.submitButton {
  text-align: right;
}

.writeComment {
  width: 95%;
  margin-right: 0;
  margin-left: auto;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.commentCards {
  margin-bottom: 3rem;
}
</style>