<template>
  <div class="tracker">
    <div v-if="isLoaded">
      <h4>Weight tracker</h4>
      <client-only>
        <apexchart width="700" type="line" :options="options" :series="series" style="margin: auto;" />
        <!-- <datepicker v-model="startDate" name="startDate" @input="setWeightsInGraph(userWeights)"></datepicker>
        <datepicker v-model="endDate" name="endDate" @input="setWeightsInGraph(userWeights)"></datepicker> -->
      </client-only>
    </div>
    <div v-if="isLoaded" class="addWeight">
      <addDailyWeight />
      <br>
      <div v-if="series[0]['data'].length == 0" class="text-center errorMessage mb-2">{{ error }}</div>
      <div v-if="errorMessage" class="text-center errorMessage mb-2">{{ errorMessage }}</div>
      <div v-if="submitMessage" class="text-center submitMessage mb-2">{{ submitMessage }}</div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'

import addDailyWeight from '~/components/addDailyWeight'

export default {
  components: {
    addDailyWeight
  },

  computed: {
    error () { return this.series[0]['data'] ? 'No data found! Please refresh the page or add new daily weight!' : '' }
  },

  data () {
    return {
      errorMessage: '',
      submitMessage: '',
      options: {
        chart: {
          id: 'weight-tracker',
          toolbar: {
            tools: {
              reset: false
            }
          }
        },
        xaxis: {
          // categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        }
      },
      series: [{
        name: 'weight',
        data: []
      }],
      isLoaded: false
    }
  },

  mounted () {
    this.getWeights()
  },

  methods: {
    async getWeights() {
      try {
        this.isLoaded = false
        const host = (window.location.host.includes("localhost") ? "http://" : "https://" ) + window.location.host
        let result = await axios.post(`${host}/api/statistics/weight`, {
          userId: this.$auth.user._id
        })

        if (result.data.error) {
          throw new Error(result.data.error)
        }

        this.userWeights = result.data
        this.setWeightsInGraph(result.data)
        // this.isLoaded = true
      } catch (e) {
        // this.errorMessage = e.message
        console.error(e)
      }
    },

    setWeightsInGraph (result) {
      this.series[0]['data'] = []
      result.forEach(res => {
        // console.log(moment(res.date).format('LL'), moment(this.startDate).format('LL'))
        // if (res.date >= this.startDate) { 
            // && moment(res.date).format('LL') <= moment(this.endDate).format('LL')) {
          // console.log("bent")
          this.series[0]['data'].push({
            'x': moment(res.date).format('LL'),
            'y': res.weight.toString()
          })
        // }
      })
      this.isLoaded = true
    }
  }
}
</script>

<style scoped>
.tracker {
  width: fit-content;
  margin: auto;
  margin-top: 3rem;
  display: flex;
}

.addWeight {
  padding-left: 3rem;
}

.errorMessage {
  color: red;
  font-style: italic;
}

.submitMessage {
  color: rgb(38, 192, 38);
  font-style: italic;
}
</style>